{% extends "layout.html" %}
{% block body %}
<style>
	table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	}
	td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	}
	tr:nth-child(even) {
	background-color: #dddddd;
	}
</style>
	<h2>{{message}}</h2>
	<h1>Fantasy Cricket!!!!</h1>
	<table>
		<tr><th><h2>Match</h2></th><th><h2>Status</h2></th></tr>
		<br>
		{% for i in matches %}
			{% if i.mchstate != "complete" %}
				<tr>
					<th><a href="match/{{ i.id }}"><h3>{{i.srs}}: {{i.mchdesc}} {{i.mnum}}</h3></a></th>
					<th><h3 style="text-transform: capitalize;">{{i.mchstate}}</h3></th>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	<script type="text/javascript">
		console.log("Hello")
	</script>
{% endblock %}