{% extends "layout.html" %}
{% block body %}
<h3>
	Fantasy Cricket Web Application
</h3>

<b>
	Get ready for the best Cricket entertainment game that changes the way you follow Cricket! 
</b>
<br>
<p>
	Every user has to login with their <b>google account</b> in fantasy-cricket so that they can create their teams, chat with the other participants and share their experiences, view their current leaderboard positions based on the teams they selected.
</p>
<br>
<!-- <p>
	Users can also have premium accounts so as to win exciting cash prices for every match they win.
</p> 
<br> -->
<p>
	Play Fantasy Cricket with your friends and challenge them to show off your selection and instinctive skills. Also get live scores of every cricket match!!
</p>
<!-- <br> -->
<h5>
	Game Rules:
</h5>
<p>
	For every match, select your own team and you get points according to how your players score in the actual match. Scoring rules are as follows:
	<ul>
		<b>></b>&nbsp For every match, select your own team and get points according to how your players score in actual match.
	</ul>
	<ul>
		<b>></b>&nbsp 0.5 points would be awarded if one run is made by the player.		
	</ul>
	<ul>
		<b>></b>&nbsp 0.5 additional points will be awarded when your player hits a four.
	</ul>
	<ul>
		<b>></b>&nbsp 1 additional point will be awarded when your player hits a six.
	</ul>
	<ul>
		<b>></b>&nbsp 10 points will be awarded for every wicket taken.
	</ul>
	<ul>
		<b>></b>&nbsp 5 points will be awarded for each maiden over bowled.
	</ul>
	<ul>
		<b>></b>&nbsp 5 points will be awarded for each catch taken.
	</ul>
	<ul>
		<b>></b>&nbsp You can select only 10 players from both the teams not more than 7 from a team.
	</ul>
	<ul>
		<b>></b>&nbsp Power player can be chosen from your list of players, so you could gain double points.
	</ul>
	<ul>
		<b>></b>&nbsp Once the match has started you will not be allowed to choose players.
	</ul>
	<ul>
		<b>></b>&nbsp You can follow the Leader board during the match.
	</ul>
</p>
<br>
<p>
	Leaderboard is displayed for each match. You can make your selections and follow the scores in our website. The app is just pure fun and thrill. When you are watching a cricket match, open this app and follow your fantasy score for even more thrill.
</p>
<br>
<h5>
	There is also a chatroom for participants to chat among themselves, and share their experiences.
</h5>
<br>
<p>
	Technologies used:<br>
	python, flask framework, html, css, jinja2, javascript.
</p>
<p>
	From <br>
	Prudhvik, Student, MSIT, 2017-19,<br> 
	Deepak Bheemavarapu, Mentor, MSIT,<br>
	International Institute of Information Technology Hyderabad<br>
</p>
{% endblock %}