{% extends "layout.html" %}
{% block body %}
<style>
	table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	}
	td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	}
	tr:nth-child(even) {
	background-color: #dddddd;
	}
</style>

<h3>Select a power player</h3>
<form action="http://localhost:8001/selectpowerplayer/{{matchName}}" method="post">
	<input type="radio" name="powerPlayer" value="{{dreamteam[0]}}" required> {{dreamteam[0]}} </input><br>
	<input type="radio" name="powerPlayer" value="{{dreamteam[1]}}"> {{dreamteam[1]}} </input><br>
	<input type="radio" name="powerPlayer" value="{{dreamteam[2]}}"> {{dreamteam[2]}} </input><br>
	<input type="radio" name="powerPlayer" value="{{dreamteam[3]}}"> {{dreamteam[3]}} </input><br>
	<input type="radio" name="powerPlayer" value="{{dreamteam[4]}}"> {{dreamteam[4]}} </input><br>
	<input type="radio" name="powerPlayer" value="{{dreamteam[5]}}"> {{dreamteam[5]}} </input><br>
	<input type="radio" name="powerPlayer" value="{{dreamteam[6]}}"> {{dreamteam[6]}} </input><br>
	<input type="radio" name="powerPlayer" value="{{dreamteam[7]}}"> {{dreamteam[7]}} </input><br>
	<input type="radio" name="powerPlayer" value="{{dreamteam[8]}}"> {{dreamteam[8]}} </input><br>
	<input type="radio" name="powerPlayer" value="{{dreamteam[9]}}"> {{dreamteam[9]}} </input><br>
	<dd><br><br><input type="submit" value="Submit"></dd>
</form>

{% endblock %}